@charset "utf-8";

#ol_before_m {
  color: #fff;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ol_before_m a {
  padding: 10px 0px;
}

#ol_before_m a:link,
#ol_before_m a:visited {
	color: #fff;
	/*text-decoration: none;*/
}
#ol_before_m a:hover,
#ol_before_m a:active {
	color: #f00;
	/*text-decoration: none;*/
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

/* 모바일 로그인은 태블릿부터 보이지 않음 */
#ol_before_m {
  display: none;
}

}


