@charset "utf-8";

/* 아웃로그인 스킨 */

#ol_before_m {padding:10px 0px;font-size:1.4em;/*17px;*/color:#fff;}
#ol_after_m {padding:10px 0px 0px 0px;font-size:1.4em;/*17px;*/color:#fff;}
#ol_before_m h2,#ol_after_m h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
#ol_before_m a:link,#ol_before_m a:visited,#ol_after_m a:link,#ol_after_m a:visited {color:#fff;text-decoration:none;}
#ol_before_m a:hover,#ol_before_m a:active,#ol_after_m a:hover,#ol_after_m a:active {color:#f00;text-decoration:none;}


#ol_after_m #ol_after_hd_m,
#ol_after_m #ol_after_private_m li:first-child {margin-bottom:5px;}
#ol_after_m #ol_after_hd_m strong {vertical-align:middle;}
#ol_after_m #ol_after_hd_m .btn_admin {vertical-align:middle;padding:2px 10px;color:#fff !important;}
#ol_after_m #ol_after_hd_m .btn_admin:hover {color:#fff !important;text-decoration:none;}


@media (min-width: 768px) {
#ol_before_m, #ol_after_m {display: none;}
}

